[Unit]
Description=PG Reloaded
Documentation=https://pg_reloaded.github.io
After=network.target

[Service]
User=root
ExecStart=/usr/bin/pg_reloaded start --config="/etc/pg_reloaded/pg_reloaded.yml"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target